{
  "env": {
    "commonjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false,
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": false
          }
        ]
      ]
    }
  }
}
